//
*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
  background-color: lightblue;
}


.pasta{
  display: inline-block;
  border: 2px dashed blue;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  background-color: lightblue;
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}
