//
*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
  background-color: rgba(125,125,255,0.5);
}

header, footer{
  height: 200px;
  background-color: green;
  border: 2px solid black;
}

.pasta{
  display: inline-block;
  border: 2px dashed blue;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  background-color: lightblue;
  min-width: 200px;
  min-height: 200px;
  padding: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}
