* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.header-logo {
  width: 240px;
}

.header-background {
  min-width: 1400px;
}

.header-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-content-logo {
  width: 240px;
  display: block;
  margin: 60px 0px;
}
.header-content-menu {
  display: flex;
  align-items: center;
  font-size: 22px;
  height: 80px;
}
.header-content-menu a {
  text-decoration: none;
  list-style: none;
  height: 100%;
  line-height: 80px;
  padding: 0px 20px;
  vertical-align: middle;
  cursor: pointer;
  color: black;
  padding: 0px;
}
.header-content-menu a a {
  text-decoration: none;
}
.header-content-menu li {
  list-style: none;
  height: 100%;
  line-height: 80px;
  padding: 0px 20px;
  vertical-align: middle;
  cursor: pointer;
  color: black;
}
.header-content-menu i {
  color: black;
}
.header-content-menu .active {
  background-color: #b2e6fc;
}
.header-content-menu li {
  display: inline-block;
}
.header-content-menu li:hover {
  transition: opacity 0.4s, text-shadow 0.2s;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 95%;
  background-color: #b2e6fc;
}

.footer-background {
  min-width: 1400px;
  background-image: url("/img/footer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding-top: 90px;
  padding-bottom: 140px;
}
.footer-content-logo {
  margin-bottom: 15px;
}
.footer-content-col-1, .footer-content-col-2, .footer-content-col-3 {
  width: calc(100% / 3);
  padding-right: 30px;
}
.footer-content .molisana-contatti .title, .footer-content .menu-pastificio .title, .footer-content .menu-prodotti .title, .footer-content .menu-collezioni .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer-content .molisana-contatti a, .footer-content .menu-pastificio a, .footer-content .menu-prodotti a, .footer-content .menu-collezioni a {
  text-decoration: none;
  list-style: none;
  margin-bottom: 5px;
  color: #858e9c;
}
.footer-content .molisana-contatti a a, .footer-content .menu-pastificio a a, .footer-content .menu-prodotti a a, .footer-content .menu-collezioni a a {
  text-decoration: none;
}
.footer-content .molisana-contatti li, .footer-content .menu-pastificio li, .footer-content .menu-prodotti li, .footer-content .menu-collezioni li {
  list-style: none;
  margin-bottom: 5px;
  color: #858e9c;
}
.footer-content .molisana-contatti i, .footer-content .menu-pastificio i, .footer-content .menu-prodotti i, .footer-content .menu-collezioni i {
  color: black;
}
.footer-content .menu-pastificio, .footer-content .menu-prodotti, .footer-content .menu-collezioni {
  margin-bottom: 30px;
}
.footer-content .menu-pastificio li, .footer-content .menu-prodotti li, .footer-content .menu-collezioni li {
  margin-bottom: 15px;
}

.main-background {
  min-width: 1400px;
  background-image: url("/img/main-content-sfondo.jpg");
}

.main-background-2 {
  background-color: #b7dae5;
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 50px;
}
.main-content h2 {
  font-size: 28px;
  color: #002d73;
  margin-bottom: 25px;
}
.main-content-section {
  margin-bottom: 25px;
}

.pasta {
  display: inline-block;
  width: calc(100% / 3 - 20px);
  height: 280px;
  margin-right: 15px;
  margin-bottom: 15px;
}
a:hover .pasta-img {
  transition: opacity 0.4s, text-shadow 0.2s;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 95%;
  box-shadow: 2px 2px 10px #002d73;
}
.pasta-img {
  width: 100%;
  height: 100%;
}

.pasta-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pasta-details-img-p {
  width: 1130px;
  height: auto;
}
.pasta-details-img-h {
  width: 1130px;
  height: auto;
}
.pasta-details-text {
  color: #002d73;
  font-weight: bold;
  line-height: 25px;
}

.work-in-progress {
  border: 4px solid #002d73;
  background-color: rgba(255, 255, 0, 0.6);
  color: red;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #002d73;
  padding: 30px 0px;
}
